.write{
    padding-top: 50px;
    padding-left: 8%;
}
.writeHeader{
    display: flex;
    justify-content: center;
    font-family: 'Varela Round', sans-serif;
    margin-bottom: 3%;
    color: rgb(22, 78, 50);
}
.writeHeader i{
    margin: 0 10px 20px;
}
.writeImg{
    width: 70vw;
    margin-left: 15%;
    justify-content: center;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}
.writeform{
    position: relative;
}
.writeFormGroup{
    margin-left: 15%;
}
.writeIcon{
    width: 25px;
    height: 25px;
    border-radius:50%;
    border: 1px solid;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    color: rgb(97, 93, 93);
    cursor: pointer;
    margin-right: 10px;
}
.writeInput{
    font-size: 30px;
    border:none;
    padding:20px;
    width:70vw;
}
.writeInput:focus{
    outline: none;
}
.writeText{
    font-size: 20px;
    height: 100vh;
}
.writeSubmit{
    position: absolute;
    top: 100px;
    right:50px;
    background-color: teal;
    padding: 8px;
    border: none;
    border-radius: 10px;
    border:2px solid teal;
    color: #fff;
    font-size: 16px;
    transition: all 0.3s ease;
}
.writeSubmit:hover{
    background-color: #fff;
    color: teal;
}
.writeFormUpload{
    display: flex;
    justify-content:left;
    font-family: 'Varela Round', sans-serif;
    color: rgb(126, 120, 120);
    align-items: center;
}